/terraform/modules/db/terraform.tfvars
/terraform/terraform.tfvars
/terraform/.ssh

.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl
terraform-sa-key.json
terraform-sa-key-backup.json
terraform/terraform-key.json
terraform-sa-key.json
./ansible/kubespray
./ansible/group_vars
./ansible/kubespray