[defaults]
inventory = inventory.ini
host_key_checking = False
timeout = 30
interpreter_python = auto_silent

[ssh_connection]
pipelining = True
ssh_args = -F /home/kaliuzhnyi/.ssh/config -o ControlMaster=auto -o ControlPersist=60s -o ServerAliveInterval=30 -o ServerAliveCountMax=10 -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null
